/* ページ全体を画面中央に配置 */

.aaa {
    position: fixed;  
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
    background-image: url('450-20101202081413110211.jpg');   
    background-size: cover;  
    background-position: center;  
}



header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    background-color: rgb(232, 232, 232);  
    border-bottom: 2px solid rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
}

h2 {
	margin: 0;   
    font-size: 20px;
    font-weight: bold;
    color:#000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}




body {
    font-family: Arial, sans-serif;
    background-image: url('washi_pattern.jpg'); /* 和紙の模様の背景画像 */
    background-color: rgb(128, 255, 255); /* 背景色のフォールバック */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* コンテナのスタイル */
.container {
    text-align: center;
        z-index: 0;
}

/*.aaa {*/
/*    position: fixed;  */
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;   */
/*    background-image: url('450-20101202081413110211.jpg');   */
/*    background-size: cover;  */
/*    background-position: center;  */
/*}*/




/* タイトルのスタイル */
h1 {
    color: rgb(0, 0, 0); /* タイトルの文字色を派手に */
    font-size: 64px; /* タイトルのフォントサイズを大きく */
    margin-bottom: 20px; /* 下部の余白を追加 */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

/* 各フォームを横並びに配置 */
.form-with-illustration {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; /* フォームとイラストを上揃えにする */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.custom-font-button{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* イラストのサイズを調整 */
.form-with-illustration img {
    width: 120px; /* 幅を120pxに設定 */
    height: auto; /* 高さは自動調整 */
}

/* フォーム内の要素のスタイル */
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 20px 40px; /* ボタンのサイズを大きくする */
    font-size: 24px; /* ボタンのフォントサイズを大きくする */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

