header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    background-color: rgb(232, 232, 232);  
    border-bottom: 2px solid rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
}

h2 {
	margin: 0;   
	 margin-top: 5px;
	 margin-left: 30px; 
    font-size: 20px;
    font-weight: bold;
    color:#000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    
    padding-bottom: 10px;
}
.sikaku {
    background-color: #f0f0f0; /* 透明度のある薄い水色に変更 */
    min-width: 400px;  
    min-height: 200px;
    padding: 5px; /* パディング追加 */
    border-radius: 1em; /* 四角い図形 */
    border: none; /* 枠線なし */
    display: flex;
    justify-content: center;
    align-items: center; /* 中央に配置 */
    word-wrap: break-word;
}

#label {
    width: 160px;
    
}
#label, #elm {
    display: table-cell;
}
p {
    margin-left: 30px;
}

#elm {
	min-width: 100px;
    max-width: 300px; /* 幅を300ピクセルに指定 */
    word-wrap: break-word; /* 長い単語でも自動で改行 */
    overflow-wrap: break-word; /* 互換性のためのプロパティ */
}



.form-container {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}
.form-container form {
    margin: 20px;
    display: inline-block;
}
.form-container form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1px; /* ボタンの間隔を追加 */
    margin-left: 65px;
}
.form-container form input[type="submit"]:hover {
    background-color: #0056b3;
}


.aaa {
    position: fixed; /* 要素を固定配置 */
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 画面の背面に配置 */
    background-image: url('IMG_6461.jpg'); /* 画像のパスを指定 */
    background-size: cover; /* 画像を要素全体に広げる */
    background-position: center; /* 画像を中央に配置 */
}


.h-menu {
    background: none;      /* 背景色をなしに */
    border: none;          /* 枠線をなしに */
    color: inherit;        /* 親要素の文字色を継承 */
    font: inherit;         /* 親要素のフォントを継承 */
    cursor: pointer;       /* ポインターを手の形に */
    padding: 0;            /* パディングをなしに */
    margin: 0;             /* マージンをなしに */
    padding: 20px 40px;  
    font-size: 24px; 
    color: rgb(255, 255, 255);   
	}

.h-menu:hover {
    color: rgb(255, 255, 255);             /* ホバー時の文字色を変更（例：青） */
    text-decoration: underline; /* ホバー時の下線を表示 */
}

