body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(192, 192, 192); /* グレーの背景色を設定 */
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px; /* タイトルのフォントサイズを変更 */
}

p {
    font-size: 24px; /* テキストのフォントサイズを変更 */
}

a {
    font-size: 24px; /* リンクのフォントサイズを変更 */
}

form {
    margin-top: 20px; /* フォームの上部マージンを追加 */
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 20px 40px; /* ボタンのパディングを変更 */
    font-size: 24px; /* ボタンのフォントサイズを変更 */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}


.aaa {
    position: fixed; /* 要素を固定配置 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 画面の背面に配置 */
    background-image: url('450-20101202081413110211.jpg'); /* 画像のパスを指定 */
    background-size: cover; /* 画像を要素全体に広げる */
    background-position: center; /* 画像を中央に配置 */
}

