<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>確認ページ</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>
	<header onclick="window.location.href='/main';" style="cursor: pointer;">
			<h2>チーム開発演習</h2>
	</header>
	<script src="menu.js"></script>
	<div class="hamburger-menu">
	        <div class="menu-icon" id="menu-icon">
	            &#9776; <!-- ハンバーガーアイコン -->
	        </div>
	        <div class="side-nav" id="side-nav">
	            <a href="javascript:void(0)" class="close-btn" id="close-btn">&times;</a>
				<form method="get" action="#" th:action="@{/main}">
					<input type="submit" value="HOME" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/form}">
				                <input type="submit" value="登録" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/view}">
				                <input type="submit" value="一覧" class="h-menu">
				 </form>
							
				 <form method="get" action="#" th:action="@{/search}">
				                <input type="submit" value="検索" class="h-menu">
				 </form>
				 
				 <form method="get" action="#" th:action="@{/question}">
				 			    <input type="submit" value="クイズへ" class="h-menu">
				  </form>
	        </div>
	    </div>
	
<div class="aaa"></div>
	
<h1>確認ページ</h1>
<div th:object="${input}" class="input-section">
	<div class="sikaku">
	<div id="label">
		
	            <p>コード：</p>
	            <p>コメント：</p>
	            <p>言語：</p>
	        </div>
	        <div id="elm">
	            <p th:text="*{name1}" id="name"></p>
	            <p th:text="*{comment1}" id="comment"></p>
	            <p th:text="*{language1}" id="language"></p>
	        </div>
			
	</div>
		
    <div class="form-container">
        <form method="get" action="#" th:action="@{/complete}">
<!--            <p>入力を完了しますか？</p>-->
            <input type="hidden" name="name1" th:value="*{name1}">
            <input type="hidden" name="comment1" th:value="*{comment1}">
			<input type="hidden" name="language1" th:value="*{language1}">
            <input type="submit" value="完了">
        </form>
    </div>
    <div class="form-container">
        <form method="get" action="#" th:action="@{/form}">
            <input type="hidden" name="name1" th:value="*{name1}">
            <input type="hidden" name="comment1" th:value="*{comment1}">
			<input type="hidden" name="language1" th:value="*{language1}">
            <input type="submit" value="戻る">
        </form>
    </div>
</div>
</body>
</html>