<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${input}">
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>
				番号:<span th:text="*{id}"></span> <input type="hidden" name="id"
					th:value="*{id}">
			</p>
			<p>
				名前: <input type="text" name="name1" th:value="*{name}">
			</p>
			<p>
				コメント: <input type="text" name="comment1" th:value="*{comment}">
			</p>
			<p>
				言語: <input type="text" name="language1" th:value="*{language}">
			</p>
			
			<input type="submit" value="更新">
		</form>
	</div>
</body>
</html>