<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style-cp.css}">
<script src="menu.js"></script>
</head>
<body>
	<script src="/menu.js"></script>
	<header onclick="window.location.href='/main';" style="cursor: pointer;">
			<h2>チーム開発演習</h2>
	</header>
	 <div class="aaa"></div>
	    <div class="hamburger-menu">
	        <div class="menu-icon" id="menu-icon">
	            &#9776; <!-- ハンバーガーアイコン -->
	        </div>
	        <div class="side-nav" id="side-nav">
	            <a href="javascript:void(0)" class="close-btn" id="close-btn">&times;</a>
				<form method="get" action="#" th:action="@{/main}">
					<input type="submit" value="HOME" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/form}">
				                <input type="submit" value="登録" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/view}">
				                <input type="submit" value="一覧" class="h-menu">
				 </form>
							
				 <form method="get" action="#" th:action="@{/search}">
				                <input type="submit" value="検索" class="h-menu">
				 </form>
				 
				 <form method="get" action="#" th:action="@{/question}">
				 			    <input type="submit" value="クイズ" class="h-menu">
				  </form>
				  <form method="get" action="#" th:action="@{/addlanguage}">
				  			  			    <input type="submit" value="言語の追加" class="h-menu">
				  			  </form>
	        </div>
	    </div>
	
	<h1 th:text="${title}"></h1>
	<div th:object="${input}" class="table">
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>
				ID:<span th:text="*{id}"></span> <input type="hidden" name="id"
					th:value="*{id}">
			</p>
			<p>
				コード: <input type="text" name="name1" th:value="*{name}">
			</p>
			<p>
				コメント: <input type="text" name="comment1" th:value="*{comment}">
			</p>
			<div>
			    <label for="language">言語：</label>
			    <select id="language" name="language1" th:value="*{language}">
			        <option value="java">Java</option>
			        <option value="html">HTML</option>
			        <option value="css">CSS</option>
			        <option value="javascript">JavaScript</option>
			    </select>
			</div>

			
			<input type="submit" value="更新"class="custom-font-button">
		</form>
	</div>
</body>
</html>