<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新規作成</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<header onclick="window.location.href='/main';" style="cursor: pointer;">
			<h2>チーム開発演習</h2>
	</header>
	<script src="menu.js"></script>
	<div class="hamburger-menu">
	        <div class="menu-icon" id="menu-icon">
	            &#9776; <!-- ハンバーガーアイコン -->
	        </div>
	        <div class="side-nav" id="side-nav">
	            <a href="javascript:void(0)" class="close-btn" id="close-btn">&times;</a>	<!--開いた後の×マーク-->
				<form method="get" action="#" th:action="@{/main}">
					<input type="submit" value="HOME" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/form}">
				                <input type="submit" value="登録" class="h-menu">
				</form>
				
				<form method="get" action="#" th:action="@{/view}">
				                <input type="submit" value="一覧" class="h-menu">
				 </form>
							
				 <form method="get" action="#" th:action="@{/search}">
				                <input type="submit" value="検索" class="h-menu">
				 </form>
				 
				 <form method="get" action="#" th:action="@{/question}">
				 			    <input type="submit" value="クイズへ" class="h-menu">
				  </form>
	        </div>
	    </div>
	
	<div class="aaa"></div>
	
    <h1 th:text="${title}">新規作成</h1>
    <form method="get" action="#" th:action="@{/confirm}" th:object="${input}" class="aiu">
        <div>
            <label for="code">CODE：</label>
            <input type="text" id="code" name="name1" th:value="*{name1}" placeholder="コードを入力">
            <div th:if="${#fields.hasErrors('name1')}" th:errors="*{name1}" class="error">名前の入力にエラーがあります。</div>
        </div>
        <div>
            <label for="comment">コメント：</label>
            <input type="text" id="comment" name="comment1" th:value="*{comment1}" placeholder="コードの説明を入力">
            <div th:if="${#fields.hasErrors('comment1')}" th:errors="*{comment1}" class="error">コメントの入力にエラーがあります。</div>
        </div>
        <div>
            <label for="language">言語：</label>
            <select id="language" name="language1" th:value = "*{language1}">
                <option value="java">Java</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="javascript">JavaScript</option>
				<th:block th:each="language : ${languages}">
								       <option th:value="${language}" th:text="${language}"></option>
								 </th:block>
            </select>
        </div>
		<p></p>
        <div class="zzz">
            <input type="submit" value="送信"	class="custom-font-button">
        </div>
    </form>
</body>
</html>


