<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="stylemain.css">
</head>
<header>
		<h2>チーム開発演習</h2>
</header>
<div class="aaa"></div>
<body>
    <div class="container">
        <h1 th:text="${title}"></h1>
        <!-- 登録フォーム -->
        <div class="form-with-illustration">
            <img src="1586.png" alt="Registration Illustration">
            <form method="get" action="#" th:action="@{/form}">
                <input type="submit" value="登録"class="custom-font-button">
            </form>
        </div>
        
        <!-- 一覧フォーム -->
        <div class="form-with-illustration">
            <img src="1415.png" alt="List Illustration">
            <form method="get" action="#" th:action="@{/view}">
                <input type="submit" value="一覧"class="custom-font-button">
            </form>
        </div>
        
        <!-- 検索フォーム -->
        <div class="form-with-illustration">
            <img src="629.png" alt="Search Illustration">
            <form method="get" action="#" th:action="@{/search}">
                <input type="submit" value="検索"class="custom-font-button">
            </form>
        </div>
    </div>
</body>
</html>
