<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/stylequestion.css}">
</head>
<body>
	<header onclick="window.location.href='/main';" style="cursor: pointer;">>
			<h2>チーム開発演習</h2>
	</header>
	<div class="aaa"></div>
	<h1>問題</h1>
	<!-- 検索フォーム -->
	<form method="get" action="#" th:action="@{/answer}">
	  <!-- ワードの入力 -->
	  <p><span th:text="${question.comment}"></span></p>
	  <p class="kotae">
	    <h2>答え：<input type="text" name="answer"></h2>
	  </p>
	  <p>
		<input type="submit" value="回答">
	  </p>
	</form>
</body>
</html>
